<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset | Project 1</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'reset-password.css' %}">
    
</head>

<body>

    <div class="main">
        <form action="" class="form" method="POST">
            <h2>Reset Password</h2>
            {% csrf_token %}
            <div class="email-box">
                <label for="email">Email</label>
                <input type="email" id="email"  name="email" required>
            </div>
            <div class="otp-btns-box">
                <a href="#" class="resend-otp hidden">Resend OTP</a>
                <!-- <button class="send-otp-btn ">Send OTP</button> -->
               
            </div>
            <div class="otp-box">
                <label for="otp">Enter OTP</label>
                <input type="text" id="otp" required>
            </div>
            <div class="password-box">
                <label for="password">New Password</label>
                <input type="password" id="password" name="new_password" required>
            </div>
            <div class="password-box">

                <label for="password2">Re Enter Password</label>
                <input type="password" id="password2" required>
            </div>

            
            <button class="submit-btn">Submit</button>


        </form>
    </div>
    <!-- Email Validation -->
    <script src="{%static 'email-validation.js'%}"></script>

    <!-- OTP validation -->
    <script src="{%static 'otp-validation.js'%}"></script>

    

  

</body>

</html>